*{
    margin: 0px;
    padding: 0px;
}

#main_workspace{
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
}
#main_workspace h4{
    border-bottom: 1px solid grey;
    padding: 3px 7px;
    margin-bottom: 5px;
}
.columnBlocks{
    padding: 15px 10px;
    padding-bottom: 23px;
    background-color: #f4f5f7;
    border: 1px solid red;
    border-radius: 10px;
    /* min-width: 275px; */
    min-width: 350px;
    height: fit-content;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.columnBlocks:hover .createBtn{
    display: inline-block;
}
.createBtn{
    display: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 12px;
    background-color: transparent;
    border: none;
}
.createBtn:hover{
    background-color: white;
}
.issueCard{
    display: flex;
}
.issueCardText{
    flex-grow: 1;
}

.card{
    position: relative;
    margin: 3px 0px;
    padding: 8px 10px;
    min-width: 250px;
    min-height: 55px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px gray;
    background-color: white ;
}

.card>div{
    width: 200px;
    height: fit-content;
}

/* delete button */
.card > button{
    position: absolute;
    right: 7px;
    top: 7px;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
}

.hide{
    display: none;
}
.dontShow{
    visibility: hidden;
}
.show{
    display: block;
}